* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
    flex-shrink: 0;
}

a {
    text-decoration: none;
}

.contener {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.contener__slaider {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.header__top {
    position: relative;
    background-color: #222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.menu__left {
    display: flex;
    gap: 41px;
    align-items: center;
}

.menu__gender {
    display: flex;
}

.menu__gender::after {
    content: url('../image/gender.svg');
    cursor: pointer;
}

.menu__search {
    cursor: pointer;
    width: 26px;
    height: 27px;
}

.menu__search:hover {
    transform: scale(1.3);
}

.menu__right {
    display: flex;
    gap: 33px;
    padding: 26px 0 20px 0;
    align-items: center;
}

.menu__menu {
    width: 32px;
    cursor: pointer;
}

.rotate__90 {
    transform: rotate(90deg);
}

.menu__car {
    width: 32px;
    cursor: pointer;
}

.menu__car:hover path {
    fill: #F16D7F;
}

.menu__user {
    width: 32px;
    cursor: pointer;
}

.menu__user:hover path {
    fill: #F16D7F;
}

.menu__car__link {
    display: block;
    position: relative;
}

.count__car {
    display: block;
    position: absolute;
    color: white;
    bottom: 22px;
    left: 22px;
    background: #F16D7F;
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.nav__links {
    display: none;
    position: absolute;
    background-color: white;
    top: 78px;
    right: 0;
    padding: 32px 32px 0 32px;
    width: 232px;
    z-index: 1;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.show {
    display: block;
    opacity: 1;
    animation: fadeInFromNone 1s ease-in-out;
}

.title__menu {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 32px;
}

.munu__link {
    list-style: none;
    padding: 16px;
}

.link__li {
    padding-bottom: 12px;
}

.link {
    font-weight: 400;
    font-size: 14px;
    color: #6f6e6e;
}

.link:hover {
    color: #f16d7f;
}

.link:active {
    color: #f16d7f;
}

.title__links {
    font-weight: 400;
    font-size: 14px;
    color: #f16d7f;
    text-transform: uppercase;
}


.header__button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F1E4E6;
}

.header__left {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 50%;
}

.layer__img {
    width: 50%;
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


.title__left {
    color: #222;
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
    animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}


.luxerious {
    color: #222;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

.fashion {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}


@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.content__offer {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    grid-template: auto auto/ repeat(3, 1fr);
    gap: 30px;
}

.item__banner {
    display: flex;
    position: relative;
    cursor: pointer;
}

.item__banner:hover .scale-up-center {
    -webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.big__item {
    grid-column: 1 / -1;
}

.title {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sale {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gender {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content__product {
    padding-bottom: 95px;
}

.product__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding-bottom: 48px;
}

.title__h3 {
    color: #222;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}

.title_text {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}


.product__items {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 30px;
}

.product__link {
    cursor: pointer;
    text-decoration: none;
    display: flex;
}

.buttom__cart {
    position: absolute;
    display: none;
    position: absolute;
    display: none;
    top: 33%;
    left: 33%;

}

.buttom__cart:hover {
    background: #F16D7F;
}

.product__h3:hover {
    color: #F16D7F;
}


.button__text {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__link:hover {
    .product__image {
        -webkit-filter: brightness(0.5);
        filter: brightness(0.5);
    }

    .buttom__cart {
        display: flex;
        gap: 12px;
        align-items: center;
        border: 2px solid #FFFFFF;
        padding: 12px;
    }
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: stretch;
    justify-content: space-between;
    background-color: #F8F8F8;
}

.product__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color__pink img {
    width: 41.555555%;
}

.product__text {
    display: flex;
    gap: 16px;
    padding: 0 14px 24px 14px;
    flex-direction: column;
}

.product__h3 {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__p {
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__price {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__button {
    padding-top: 48px;
    display: flex;
    justify-content: center;
}

.link__all {
    padding: 15px 39px;
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #FF6A6A;
    background: white;
    cursor: pointer;
}

.link__all:hover {
    color: white;
    border: 1px solid #FF6A6A;
    background: #F26376;
}

.content__feature {
    padding-top: 104px;
    padding-bottom: 104px;
    background-color: #222224;
    display: flex;
    gap: 30px;
}

.feature__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.heartbeat {
    -webkit-animation: heartbeat 5s ease-in-out infinite both;
    animation: heartbeat 5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}


.feature__h3 {
    color: #FBFBFB;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feature__text {
    color: #FBFBFB;
    text-align: center;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__subscribe {
    padding-top: 97px;
    padding-bottom: 126px;
    display: grid;
    grid-template: auto / 32% 32%;
    align-items: end;
    justify-content: space-around;
    background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../image/fon-subctract.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.subscribe__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.subscribe__rigth {
    grid-column: -1;
}

.rigth__section {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.left__text {
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.left__text__span {
    font-style: italic;
}

.rigth__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.rigth__text__top {
    color: #222224;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}

.rigth__text__bottom {
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}

.subscribe__form form {
    display: flex;
}

.subscribe__form input {
    color: #222224;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px;
    background-color: #E1E1E1;
    border: 0;
    border-radius: 24px 0 0 24px;
    width: 70%;
}

.subscribe__form button {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px;
    background-color: #F16D7F;
    border: 0;
    border-radius: 0 24px 24px 0;
    width: 30%;
    cursor: pointer;
}

.subscribe__form button:hover {
    color: #F16D7F;
    background-color: white;
}

.footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #222224;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyrigth {
    color: #FBFBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social__network {
    display: flex;
    gap: 8px 12px;
}

.social__icon {
    padding: 8px;
    background-color: #FFFFFF;
}

.social__link {
    display: flex;
}

.color__pink {
    background-color: #F16D7F;
}

.desktop__banner {
    display: flex;
}

.mobile__banner {
    display: none;
}



@media(max-width:1024px) {

    .header__top.contener {
        padding-left: calc(50% - 310px);
        padding-right: calc(50% - 310px);
    }

    .contener {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .contener__slaider {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }

    .content__feature.contener {
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }

    .content__subscribe.contener {
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }

    .footer.contener {
        padding-left: calc(50% - 340px);
        padding-right: calc(50% - 340px);
    }

    .product__items {
        grid-template: auto / repeat(2, 1fr);
    }

    .content__subscribe {
        background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../image/Layer-768px.png);
        padding-top: 48px;
        padding-bottom: 64px;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .content__feature {
        padding-top: 48px;
        padding-bottom: 64px;
        flex-direction: column;
        gap: 48px;
    }

    .nav__links {
        padding: 16px;
    }
}

@media (max-width:768px) {
    .header__top.contener {
        padding-left: 16px;
        padding-right: 16px;
    }

    .contener {
        padding-left: calc(50% - 171px);
        padding-right: calc(50% - 171px);
    }

    .contener__slaider {
        padding-left: 16px;
        padding-right: 16px;
    }

    .content__feature.contener {
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }

    .content__subscribe.contener {
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }

    .footer.contener {
        padding-left: calc(50% - 340px);
        padding-right: calc(50% - 340px);
    }

    .layer__img {
        display: none;
    }

    .header__left {
        width: 100%;
        justify-content: center;
    }

    .title__left {
        font-size: 38px;
    }

    .luxerious {
        font-size: 20px;
    }

    .header__button {
        padding-top: 148px;
        padding-bottom: 148px;
    }

    .content__offer {
        padding-top: 64px;
        padding-bottom: 64px
    }

    .content__offer {

        grid-template: 1fr/ 1fr
    }

    .product__items {
        grid-template: 1fr / 1fr;
    }

    .pink__girl {
        position: inherit;
    }

    .product__button {
        padding-top: 40px;
    }

    .footer {
        padding-top: 43px;
        padding-bottom: 9px;
        align-items: center;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .content__subscribe {
        padding-top: 64px;
        padding-bottom: 110px;
        align-items: center;
        gap: 59px;
    }

    .left__text {
        font-size: 18px;
    }

    .rigth__text__top {
        font-size: 24px;
        line-height: 153.2%;
    }

    .rigth__text__bottom {
        font-size: 14px;
        line-height: 153.2%;
    }

    .desktop__banner {
        display: none;
    }

    .mobile__banner {
        display: flex;
    }

    .nav__links {
        padding: 16px;
    }
}